* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-index {
    width: 80%;
    height: 4em;
    margin: 0 auto;
    background-color: red;
    align-content: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

ol {
    list-style-type: none;
}

.list-nav {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.main-index {
    width: 80%;
    margin: 0 auto;
}

.section-persona {
    display: flex;
}

.section-persona-div {
    width: 43em;
    margin-top: 10px;
    display: flex ;
    flex-direction: column;
    gap: 13px;
}

.lista-persona {
    display: flex;
    gap: 15px;
}

h1 {
    font-size: 43px;
}

.p-persona {
    font-size: 20px;
}

.section-me {
    background-color: #EAF2FD;
    padding: 40px;

}

.p-me {
    font-size: 16px;
    padding-top: 14px;
}

#h3-me {
    font-size: 32px;
}

.section-skills {
    height: 1245px;
    background-color: #FFFFFF;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
